{{> head }}
    {{> navbar }}

    <div class="row">
        <div class="col">
            <h1>Logo</h1>
        </div>
        <div class="col">
            <img src="assets/img/kreativoros.png" class="img-thumbnail" alt="">
        </div>
    </div>

{{> footer }}